<%= simple_form_for(@fish) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>
  <div class="input-xlarge">
    <%= f.input :desc %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
